{% extends 'base.html' %}
{% block content %}
<div class="div">
    <div class="div1">
        <h1>Enhance Handwriting Recognition with Practice!</h1>
        <p>Train models with your handwriting or add new data seamlessly.</p>
    </div>
    <div class="div2">
        <div class="div3"></div>
        <div class="div4">
            <p>Practice data is being added during the design phase to support testing and learning processes. This data is tailored to simulate real-world scenarios, ensuring it can effectively aid in practice and skill development. It serves as a foundation for testing functionality and enhancing the overall system's reliability and usability.</p>
            <p>Your result will appear here.</p>
            <btn>Add Data</btn>
        </div>
    </div>
</div>
{% endblock %}