{% extends 'base.html' %}
{% block content %}
<div class="div">
    <div class="div1">
        <h1>Enhance Handwriting Recognition with Train data  </h1>
        <p>Train models with your handwriting or add new data seamlessly.</p>
    </div>
    <div class="div2">
        <div class="div3">
            
                <canvas id="drawcanvas" width="500" height="300"></canvas>
            
        </div>
        <div class="div4">
            <label for="language-select">Choose Language:</label>
            <select id="language-select" onchange="generateRandomText()">
               <option value="en">English</option>
               <option value="es">Spanish</option>
               <option value="fr">French</option>
               <option value="de">German</option>
            </select>
            <br>
            <br>

            <h2 id="random-text">Loading...</h2>
            <h3 id="random-letter" style="display: none;">A</h3>
            <br>
            <br>
            <button onclick="generateRandomLetter()">Random Letter</button>
            <button onclick="generateRandomWord()">Random Word</button>
            <br>
            <button onclick="clearCanvas()">Clear</button>
            <br>
            <button onclick="saveDrawing()">Save</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/add_data.js') }}"></script>

{% endblock %}
